In [31]:
import pandas as pd
import numpy as np
import string
from string import digits
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras import layers , activations , models , preprocessing , utils
%matplotlib inline
import re
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model
import warnings
warnings.filterwarnings('ignore')

In [32]:
data= pd.read_table('fra.txt', names=['eng', 'french','extra'])

In [33]:
data.head()

   eng   french                                              extra
0  Go.     Va !  CC-BY 2.0 (France) Attribution: tatoeba.org #2...
1  Go.  Marche.  CC-BY 2.0 (France) Attribution: tatoeba.org #2...
2  Go.  Bouge !  CC-BY 2.0 (France) Attribution: tatoeba.org #2...
3  Hi.  Salut !  CC-BY 2.0 (France) Attribution: tatoeba.org #5...
4  Hi.   Salut.  CC-BY 2.0 (France) Attribution: tatoeba.org #5...

In [34]:
data.drop(['extra'],axis=1,inplace=True)

In [35]:
data.head()

   eng   french
0  Go.     Va !
1  Go.  Marche.
2  Go.  Bouge !
3  Hi.  Salut !
4  Hi.   Salut.

In [36]:
data.eng=data.eng.apply(lambda x: x.lower())
data.german=data.french.apply(lambda x: x.lower())

In [37]:
data.eng=data.eng.apply(lambda x: re.sub("'", '', x))
data.french=data.french.apply(lambda x: re.sub("'", '', x))
exclude = set(string.punctuation) # Set of all special characters

In [38]:
data.eng=data.eng.apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
data.french=data.french.apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [40]:
data.eng=data.eng.apply(lambda x: x.strip())
data.french=data.french.apply(lambda x: x.strip())
data.eng=data.eng.apply(lambda x: re.sub(" +", " ", x))
data.french=data.french.apply(lambda x: re.sub(" +", " ", x))

In [42]:
new_data = data.sample(n=8000)

In [43]:
new_data.to_csv('cleaned_data.csv',index=False)

In [44]:
new_data

,eng,french
122712,what do you think of my costume,Que pensezvous de mon costume
121236,she listened to music for hours,Elle a écouté de la musique durant des heures
44482,tom looks determined,Tom semble déterminé
123581,are you sure you just want water,Tu es sûr que tu ne veux que de leau
22672,he looks after us,Il soccupe de nous
...,...,...
116258,we climbed right up to the top,Nous sommes montés jusquau sommet
115756,this is what i do for a living,Cest ce que je fais pour gagner ma vie
150080,she advised him not to drink too much,Elle lui a conseillé de ne pas trop boire
170143,am i the only one that doesnt agree with you,Suisje le seul qui ne soit pas daccord avec vous
16118,we have to stop,Nous devons nous arrêter